/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@screen md {
  .layout1 {
    @apply bg-no-repeat w-screen bg-cover pt-5;
    background-image: url("../images/bg.jpg");
    background-color: #000858;
    min-height: 100vh;
    background-position: top center;
  }
}

.layout1 {
  @apply bg-blue-500 min-h-screen;
}

.bg-shopItem {
  @apply rounded-md;
  border: 2px solid #0B7AFC;
}
